<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <title ng-bind="title"></title>
  <base href="/">

  <style>
     .ng-hide { display: none!important; }
  </style>

  <!-- build:css styles/app.css -->

  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/src/client/styles/css/app.css">
  <!-- endinject -->

  <!-- endbuild -->

</head>
<body>

  <!-- TODO: crear una directiva -->
  <div id="search" ng-controller="SearchCtrl as vm">
    <h2>{{vm.title}}</h2>
    <input type="text" ng-model="vm.userName"/>
    <button type="button" ng-click="vm.findUser(vm.userName)">Search {{vm.userName}}</button>
    <div ng-if="vm.user">

      <ul>
        <li> <img ng-src="{{vm.user.data.avatar_url}}" alt="{{vm.user.data.name}}" /> </li>
        <li>Name: {{vm.user.data.name}}</li>
        <li>Github account: <a ng-href="{{vm.user.data.html_url}}">{{vm.user.data.login}}</a>  </li>
        <li>Company: {{vm.user.data.company}}</li>
        <li>Blog: <a ng-href="{{vm.user.data.blog}}">{{vm.user.data.blog}}</a></li>
        <li>Location: {{vm.user.data.location}}</li>
        <li>Email: <a ng-href="mailto:{{vm.user.data.email}}" target="_top">{{vm.user.data.email}}</a></li>
        <li>Bio": {{vm.user.data.bio}}</li>

        <!-- TODO: link to new view: Repositories. show all repositories -->
        <!-- TODO: show all contributors in view Repositories https://api.github.com/repos/rldona/ajax-class/contributors-->

        <li>Public Repos: <a ng-href="" ng-click="vm.findRepositories(vm.userName)">{{vm.user.data.public_repos}}</a> </li>
        <li>Public Gists: {{vm.user.data.public_gists}}</li>

        <!-- TODO: link to new view: Followers. show all followers -->

        <li>Followers: {{vm.user.data.followers}}</li>
        <li>Following: {{vm.user.data.following}}</li>
      </ul>

    </div>

    <div ng-if="vm.repos">

      <!-- TODO: ng-repeat repos -->
      <ul>
        <li ng-repeat="item in vm.repos.data" style="padding: 1em;">
          <h2>{{item.name}}</h2>
          <p>{{item.description}}</p>
        </li>
      </ul>

    </div>

  </div>

  <!-- build:js js/app.js -->

  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <!-- endbower -->

  <!-- inject:js -->
  <script src="/src/client/app/core/app.js"></script>
  <script src="/src/client/app/core/config.js"></script>
  <script src="/src/client/app/services/reposdata.factory.js"></script>
  <script src="/src/client/app/services/userdata.factory.js"></script>
  <script src="/src/client/app/components/search/search.controller.js"></script>
  <script src="/src/client/app/core/services/reposdata.factory.js"></script>
  <script src="/src/client/app/core/services/userdata.factory.js"></script>
  <!-- endinject -->

  <!-- endbuild -->

</body>
</html>
